.table {
    display: flex;
    flex-direction: column;
}

.headers {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid var(--dark-gray);
    background-color: var(--white);
    z-index: 1000;
    /* height: 5vh; */
}

.marcas_btn {
    position: relative;
    cursor: pointer;
}

.dropdown_btn {
    position: absolute;
    top: 35%;
    right: -1.5rem;
    font-size: large;
    transform: rotate(0deg);
    transition: .35s;
}

.dropdown_btn_active {
    transform: rotate(-180deg);
    transition: .35s;
}

.headers p {
    min-width: 20%;
    text-align: center;
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: 1em;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown {
    position: absolute;
    top: 7vh;
    left: 15px;
    width: 20vw;
    transform: translateX(-45%);
    /* padding: 1rem; */
    overflow: hidden;
    background-color: var(--white);
    border-bottom: 2px solid #000000;
}

.menu_item {
    display: flex;
    align-items: center;
    font-size: xx-small;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    transition: .25s;
}

.menu_item:hover {
    background-color: var(--light-gray);
    transition: .25s;
}

.marcaSeleccionada {
    font-size: small;
    opacity: .8;
}

@media (max-width: 768px) {
    .headers p {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        font-size: small;
    }
    .dropdown_btn {
        top: 2.5vh;
        right: -1rem;
        font-size: small;
    }
    .marcaSeleccionada {
        font-size: smaller;
        opacity: .8;
    }
}

@media (max-width: 480px) {
    .headers p {
        font-size: x-small;
    }
    .marcaSeleccionada {
        font-size: xx-small;
        opacity: .8;
    }
}